/*------------------------------------------------------------------------------

    Overrides - place any site-specific styles here

------------------------------------------------------------------------------*/

.style-page .intro p, .style-page .intro-small p {
  color: white;
}
.style-page .intro a, .style-page .intro-small a {
  color: white;
}
.style-page .intro a:hover, .style-page .intro-small a:hover {
  color: #c5c5c6;
}

.patterns-page .intro, .patterns-page .intro-small {
  background-color: #49afc7;
  color: white;
  border-top: 7px solid #3a8c9f;
}
.patterns-page .intro p, .patterns-page .intro-small p {
  color: white;
}

.assets-page .intro, .assets-page .intro-small {
  background-color: #764890;
  color: white;
  border-top: 7px solid #5e3973;
}
.assets-page .intro p, .assets-page .intro-small p {
  color: white;
}

.grid-page .intro, .grid-page .intro-small {
  background-color: #1f8242;
  color: white;
  border-top: 7px solid #186834;
}
.grid-page .intro p, .grid-page .intro-small p {
  color: white;
}

.editorial-page .intro, .editorial-page .intro-small {
  background-color: #404041;
  color: white;
  border-top: 7px solid #333334;
}
.editorial-page .intro p, .editorial-page .intro-small p {
  color: white;
}

@media screen and (max-width: 500px) {
  .style-page .intro, .style-page .intro-small,
  .patterns-page .intro,
  .patterns-page .intro-small,
  .assets-page .intro,
  .assets-page .intro-small {
    background-image: none;
  }
}
/*------------------------------------------------------------------------------
    Current/active states for this site.
------------------------------------------------------------------------------*/
.patterns-page .pattern-library-a,
.style-page .style-guide-a,
.assets-page .assets-a,
.grid-page .grid-a,
.editorial-page .editorial-a {
  color: #990000;
  border-bottom: 3px solid #990000;
}
ul#spy-nav li#active a {
border-left: 3px solid #990000;
background-color: #f7f7f7;
font-weight: 700;
cursor: default;
}
@media screen and (max-width: 500px) {
  .patterns-page .pattern-library-a,
  .style-page .style-guide-a,
  .assets-page .assets-a,
  .grid-page .grid-a,
  .editorial-page .editorial-a {
    border-bottom: none;
  }
}

.sticky-wrapper {
  width: auto;
}

.nav-sidebar.stuck {
  position: fixed;
  width: 190px;
  /* ***TODO: This is a hack for now to fix something that is confliction with waypoints.js*** */
  top: 0;
  margin-bottom: 10em;
}
@media screen and (max-width: 800px) {
  .nav-sidebar.stuck {
    position: relative;
    max-width: 100%;
  }
}

/* Background colors for grid page only */
.grid-page .unit span.code {
  display: block;
  padding: 1em;
  text-align: center;
}
.grid-page .unit span.code:hover {
  background-color: #eee;
}

.site-footer ul {
  margin-top: 0;
}

/*------------------------------------------------------------------------------

    Pattern - To do: Not sure where this goes yet?

------------------------------------------------------------------------------*/
.pattern {
  padding: 2em 0;
}
.pattern h2 {
  margin-top: 0;
}
.pattern:first-of-type {
  padding-top: 0;
}
@media screen and (max-width: 500px) {
  .pattern {
    padding: 2.5em 0;
  }
}
@media screen and (min-width: 40em) {
    #footer-v1 {
      margin-top: 2em;
    }
}
.pattern-display {
  margin-bottom: 1.5em;
  padding: 1em;
  border: 1px dashed #bbb;
}

/* Pattern markup - <textarea> */
.pattern-markup {
  display: none;
  margin-top: 2em;
}
.pattern-markup textarea {
  width: 100%;
  color: #666;
}
.pattern-markup p {
  margin-bottom: 0;
}

a.show-hide-markup {
  display: inline-block;
  margin-top: 1em;
  color: #888;
}
a.show-hide-markup:hover {
  color: #333;
}
a.show-hide-markup:hover i {
  color: #bbd9c6;
  background-color: #186834;
}
a.show-hide-markup i {
  display: inline-block;
  background-color: #1f8242;
  font-size: 1.25em;
  padding: .75em;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
  margin-right: .5em;
  color: white;
}

.example-1-page .intro, .example-1-page .intro-small,
.example-1-page .intro-small {
  color: white;
}


.intro, .intro-small {
  padding: 3em 0;
}

form .unit { 
    padding-left: 0;
}

.img-figure {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.img-figure__caption {
  color: #666;
  padding: .65em;
}

.pagination .active {
    background-color: #f7f7f7;
}
